# --- Generated output ---
Figures/
fit_results/

# --- MATLAB figures & backups ---
*.fig
*.asv

# --- Images ---
*.png
*.jpg

# --- Data files
*.txt
*.hdf5

# --- System files ---
.DS_Store
Thumbs.db